<%include header%>
<!-- Main Container Starts -->
<div id="main-container" class="container">
    <!-- Breadcrumb Starts -->
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">500</li>
    </ol>
    <!-- Breadcrumb Ends -->
    <!-- Main Heading Starts -->
    <h2 class="main-heading text-center">
        500
    </h2>
    <!-- Main Heading Ends -->
    <!-- Content Starts -->
    <div class="content-box text-center">
        <h4 class="special-heading">出错了!</h4>
        <h5>
            服务器开小差了
        </h5>
        <br />
        <p>
            <a href="/" class="btn btn-warning text-uppercase">回首页</a>
        </p>
    </div>
    <!-- Content Ends -->
</div>
<!-- Main Container Ends -->
<%include footer%>